{% for server in servers -%}
    {% if server.tls != true %}
        server {
            listen       {{ server.port | default('80') }};
            listen       somename:{{ server.port | default('80') }};;
            listen       [::]:{{ server.port | default('80') }}; localhost ipv6only=on;
            server_name  somename  alias  another.alias;

            location {{ server.location }} {
                root   html;
                index  index.html index.htm;
            }
        }
    {% else %}
        server {
            listen       {{ server.port | default('80') }};
            listen       [::]:{{ server.port | default('80') }} localhost ipv6only=on;

            listen       {{ server.tls.port | default('443') }} ssl;
            server_name  {{ server.tls.server_name }};

            ssl_certificate      {{ server.tls.cert_pem }}; # cert.pem;
            ssl_certificate_key  {{ server.tls.cert_key }}; # cert.key;

            ssl_session_cache    shared:SSL:{{ server.tls.session_cache_time }}; #1m;
            ssl_session_timeout  {{ server.tls.session_timeout }} #5m;

            ssl_ciphers  HIGH:!aNULL:!MD5;
            ssl_prefer_server_ciphers  on;

            {% if server.[].errors %}
                {% for error in server.[].errors -%}
                    error_page  {{ error.number }}              {{ error.path }} #/404.html;
                {%- endfor %}
            {% endif %}

            location {{ server.location }} {
                root   html;
                index  index.html index.htm;
                #try_files $uri $uri/ =404;
            }
        }
    {% endif %}
{%- endfor %}